<div class="source-code-card">
  <div class="simple">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="card-title">midjourney api source code</h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p class="card-description">python code for automating midjourney™ through discord. includes backend infrastructure for running as a service.</p>
    </div>
    <div class="buttonsContainer">
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="navigateToGumroad()">get source code</button>
      </div>
    </div>
  </div>
</div> 