<div class="source-code-card">
  <div class="simple">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="card-title">Source Code</h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p class="card-description">The original source code powering mjapi's backend for interfacing with Midjourney, written in Python. We're transitioning to another backend due to scaling issues, but the original source still works for individual use and will be kept up to date.</p>
    </div>
    <div class="buttonsContainer">
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="navigateToGumroad()">Download</button>
      </div>
    </div>
  </div>
</div> 