.payment-card{
    border-radius: 62px;
    background: rgba(239, 235, 255, 0.10);

    box-shadow: 0px 0px 100px 22px rgba(242, 242, 242, 0.07);
    backdrop-filter: blur(10.5px);

    max-width: 800px;
    margin: auto;

    .simple {
        padding: 3rem;
    }

    .bitcoin {
        padding: 3rem;
    }

    .card-price{
        font-size: 5rem !important;
    }
}

.buttonsContainer{
    // position: relative
    > div{
        flex-wrap: wrap;
    }
    .paymentOption{
        display: none;
        &.stripe{
            &::before{
                content: url('../../assets/icons/stripe.svg');
                height: 22px;
            }
        }
        &.paypal{
            &::before{
                content: url('../../assets/icons/paypal.svg');
                height: 22px;
                margin-right: .25rem;
            }
        }
    }
}

:host{
    &.disabled{
        button{
            opacity: .6 !important;
            cursor: not-allowed !important;
            &:hover{
                background-color: var(--primary-brand-color) !important;
            }
        }
    }
}

@media screen and (min-width:991.9px) and (max-width: 1224.5px){
    .simple{
        padding: 3rem 1rem !important;
    }
    .container-fluid{
        padding-left: 1rem !important;
    }
}