.main-container {
    justify-content: center;

    .auth-container {
        // min-height: 30vh;

        .panel {
            display: flex;
            align-items: center;
            // min-height: inherit !important;
            flex-direction: column;

            form{
                display: flex;
                flex-direction: column;
                width: 100%;
                .form-control,
                .invalid-feedback{
                    max-width: 460px;
                    margin: auto;
                }
            }
        }
    }
}

.panel {
    padding: 4rem 3rem;
    border-radius: 46px;
    background: rgba(239, 235, 255, 0.12);

    box-shadow: 0px 0px 48px 22px rgba(242, 242, 242, 0.07);
    backdrop-filter: blur(10.5px);
    justify-content: center;

    .panel-header{
        display: flex;
        justify-content: center;
    }

    .panel-detail{
        color: #a7a7a7;
    }

    .switch-container{
        display: flex;
        justify-content: center;
        margin-bottom: 1.25rem;
    }
}

.panel-header{
    font-size: 2.6rem;
    // margin-top: -4rem;
    // margin-bottom: 3rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}