<div class="row main-container">
    <div id="auth-panel" class="col-sm-11 col-md-8 col-xl-6 col-xxxl-4 auth-container">
      <div class="panel" *ngIf="!isLoggedIn">
          <div class="d-flex justify-content-center">
              <p class="panel-header section-header">Log in or Register</p>
          </div>
        <form [formGroup]='registerForm' (ngSubmit)="submitRegister()">
          <div class="switch-container">

              <span class="switch-first-label switch-label">Fairy</span>
                <div class="switch d-flex">
                    <label class="switch">
                        <input type="checkbox"  name="accType" formControlName="accType">
                        <span class="slider round"></span>
                    </label>
                </div>
            <span class="switch-first-label switch-label">Self Served</span>
          </div>

          <div class="form-group mb-3">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email" formControlName="email" #email [class.is-invalid]="(registerForm.get('email')!.touched || registerForm.get('email')!.dirty) && registerForm.get('email')!.invalid">
            <span class="invalid-feedback" *ngIf="(registerForm.get('email')!.touched || registerForm.get('email')!.dirty) && registerForm.get('email')!.invalid">Not a valid email</span>
          </div>
          <div class="not-registered" *ngIf="!isRegistered && isRegistered != null">
            <!--Temporarily hid the username, as it's not that relevant, and it adds friction, especially when the user returns to log in-->
            <div class="form-group mb-3 visually-hidden">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" formControlName="username" [class.is-invalid]="!isRegistered && (registerForm.get('username')!.touched || registerForm.get('username')!.dirty) && registerForm.get('username')!.invalid">
                <span class="invalid-feedback" *ngIf="!isRegistered && (registerForm.get('username')!.touched || registerForm.get('username')!.dirty) && registerForm.get('username')!.invalid">Username is required</span>
            </div>
            <div class="form-group mb-3" *ngIf="userTypeAccount == 'selfserve'">
                <input type="text" class="form-control" placeholder="Discord Token" aria-label="Discord Token" name="discordToken" formControlName="discordToken" [class.is-invalid]="userTypeAccount == 'selfserve' && (registerForm.get('discordToken')!.touched || registerForm.get('discordToken')!.dirty) && registerForm.get('discordToken')!.invalid">
                <span class="invalid-feedback" *ngIf="userTypeAccount == 'selfserve' && (registerForm.get('username')!.touched || registerForm.get('discordToken')!.dirty) && registerForm.get('discordToken')!.invalid">Username is required</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Go</button>
            </div>
          </div>
        </form>
      </div>
      <div class="pannel" *ngIf="isLoggedIn">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <h3>Hello, {{currentUser!.username}}</h3>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>